/*
** CSS - Plo4ox Simple Page
*/

html {
    position: relative;
    min-height: 415px;
    height: 100%;
}

body {
    background: #000 url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.7em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    display: flex;
    justify-content: center;
}

p {
    font-family: monospace;
    font-size: 0.8em;
}

img {
  width: 100%;
}

a {
    color: #00BCD4;
    font-weight: bold;
    text-decoration: none;
}
a:hover { font-weight: normal; }

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  vertical-align: center;
}

#content {
  padding: 32px;
  border: 1px solid rgba(255,255,255,.2);
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 16px;
  right: 16px;
}

#network-link {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#network-link li {
  display: inline-block;
  width: 42px;
}

li#dyor {
  display: block;
  font-size: 0.5em;
  width: 100%;
  text-align: center;
  padding-bottom: 8px;
}

#network-link img {
  display: inline-block;
  height: 42px;
  object-fit: contain;
}


@media screen and (max-width: 470px) {
  #network-link img {
    display: inline-block;
    height: 42px;
    object-fit: contain;
  }

  #network-link li {
    display: inline-block;
    width: 45%;
  }

  li#dyor {
    display: block;
    font-size: 0.5em;
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
  }
}


@media screen and (max-width: 360px) {
  #network-link img {
    display: inline-block;
    height: 42px;
    object-fit: contain;
  }

  #network-link li {
    display: inline-block;
    width: 100%;
  }

  li#dyor {
    display: block;
    font-size: 0.5em;
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
  }
}

.grow	    {
  transition: all 0.2s ease-in-out;
  opacity: 0.7;
}
.grow:hover {
  transform	: scale(1.4);
  opacity: 1;
}
